<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./public/styles/GlobalStyle.css" />
        <title>About Us</title>
    </head>
    <body>
        <%- include('./partials/navBar.ejs') -%>

        <section>
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Molestiae quos beatae laboriosam modi? Amet rerum nesciunt
                doloribus veritatis aspernatur aut enim quibusdam reiciendis
                odit ullam impedit, quasi nisi ex provident at perferendis
                doloremque ea non libero reprehenderit, incidunt recusandae
                itaque veniam sequi! Corrupti minima reiciendis qui accusantium
                magni, distinctio doloribus eveniet voluptate debitis dolores at
                ipsum! Asperiores ad voluptate, reiciendis fugit veniam cum,
                fugiat maxime laboriosam beatae aliquid, natus pariatur.
            </p>
        </section>

        <%- include('./partials/footer.ejs') -%>
    </body>
</html>
